
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 36px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85vh;
    overflow: none;

    @include responsive(){
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }

}
    
.container-item-1{
    max-width: 576px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.spiderman{
    width: 140%;
    transform: translate3d(-170px,0,0);

    @include responsive(){
        width: 100%;
        transform: translate3d(0,0,0);
    }
}

w-auto{
    width: auto;
}

.flex {

    display: flex;
}

.align-items-center{
    align-items: center;
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background: linear-gradient(110deg, 
        $blue-dark 25%, 
        rgba(11, 12, 16, 0.80) 50%,
        $blue-dark 70%);
    }

}


