header{
    width: 100%;
    padding-top: 16px;  
}

.navbar{
    max-width: 1440px;
   
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

.nav-list{
    list-style: none;
    display: flex;

    @include responsive(){
        display: none;
    }

    li{
        margin-left: 24px;
    };
}

.logo{
    max-width: 88px;
}

.nav-link{
    display: inline-block;
    
    color: $gray-3;

    padding: 8px 16px;
    transition: .7s ease;

    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
    position: relative;

    &::after{
        content: '';
        display: block;
        position: absolute;

        top: -50px;
        left: 50%;
        transition: .7s ease;

        width: 2px;
        height: 0px;
        background: linear-gradient(359.94deg, #E11C21 0.06%, rgba(225, 28, 33, 0) 101.91%);

    }

    &:hover{

        color: $white-light;

        &::after{
            height: 40px;
        }


    }

}

.nav-social{
    display: flex;

    
    @include responsive(){
        display: none;
    }
   
    svg{
        cursor: pointer;

        margin-left: 16px;
        width: 24px;

        path{
            transition: .7s ease;
        }

        &:hover{
            path{
                fill:$red-light;
                transform: translate3d(0,-3px,0);
            }
        }
    }
}

